.form-control {
    font-size: 12px !important;
}

.form-select {
    font-size: 12px !important;
}

.h5,
h5 {
    font-size: 14px !important;
}

.formstart {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}

.textsize {
    font-size: 18px;
}

input[type="checkbox"] {
    height: initial !important;
}

.scroll {
    height: 400px !important;
}

label {
    font-size: 12px;
}

select,
input {
    font-size: 12px !important;
}