.css-rizt0-MuiTypography-root {
    font-size: 13px !important;
}

.css-1g0kpah-MuiSvgIcon-root {
    font-size: 20px !important;
}

select,
input {
    height: initial !important;
}

table {
    border-collapse: collapse;
}